<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>strawberry</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 51.000,5.000 }</string>	
								<string>{ 56.000,21.000 }</string>	
								<string>{ 54.000,45.000 }</string>	
								<string>{ 37.000,62.000 }</string>	
								<string>{ 8.000,48.000 }</string>	
								<string>{ 12.000,24.000 }</string>	
								<string>{ 34.000,5.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>watermelon</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 5.000,15.000 }</string>	
								<string>{ 18.000,7.000 }</string>	
								<string>{ 32.000,5.000 }</string>	
								<string>{ 48.000,7.000 }</string>	
								<string>{ 60.000,14.000 }</string>	
								<string>{ 34.000,59.000 }</string>	
								<string>{ 28.000,59.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>pineapple</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 61.000,64.000 }</string>	
								<string>{ 39.000,64.000 }</string>	
								<string>{ 0.000,23.000 }</string>	
								<string>{ 0.000,10.000 }</string>	
								<string>{ 11.000,0.000 }</string>	
								<string>{ 29.000,0.000 }</string>	
								<string>{ 64.000,39.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>banana</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 5.000,10.000 }</string>	
								<string>{ 16.000,6.000 }</string>	
								<string>{ 32.000,6.000 }</string>	
								<string>{ 49.000,13.000 }</string>	
								<string>{ 61.000,33.000 }</string>	
								<string>{ 54.000,59.000 }</string>	
								<string>{ 48.000,59.000 }</string>	
								<string>{ 5.000,20.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>grapes</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 14.000,61.000 }</string>	
								<string>{ 13.000,39.000 }</string>	
								<string>{ 18.000,16.000 }</string>	
								<string>{ 30.000,3.000 }</string>	
								<string>{ 39.000,3.000 }</string>	
								<string>{ 50.000,29.000 }</string>	
								<string>{ 54.000,50.000 }</string>	
								<string>{ 42.000,62.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>bomb</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 43.000,54.000 }</string>	
								<string>{ 23.000,54.000 }</string>	
								<string>{ 12.000,41.000 }</string>	
								<string>{ 12.000,20.000 }</string>	
								<string>{ 23.000,10.000 }</string>	
								<string>{ 44.000,10.000 }</string>	
								<string>{ 53.000,18.000 }</string>	
								<string>{ 53.000,40.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

